<li class="list-wrapper list" id="<%= dom_id list %>">
  <div class="list-content">
    <%= render "lists/list_header", list: list %>

    <div class="cards u-fancy-scrollbar" id="cards-list-<%= list.id %>" data-url="<%= board_sort_cards_path(@board) %>">
      <%= render partial: "cards/card", collection: list.cards.opened %>
    </div>

    <%= render "lists/list_add_card", list: list if @relation %>

  </div>
