<div id="list-position-<%= list.id %>" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= list.name %> - <%= t ".moving" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%# TO DO %>
      <%#<div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"><%= t ".move" %><%#</button>
      </div>%>
    </div>
  </div>
</div>
<div class="board-taglist">
  <div class="header">
    <p><%= list.name %></p>
    <div class="dropdown">
      <a class="list-menubtn" type="button" id="list-menubtn-<%= list.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ...
      </a>
      <div class="dropdown-menu" aria-labelledby="list-menubtn-1">
        <a class="header"><%= t ".activities" %></a>
        <div class="dropdown-divider"></div>
        <a data-toggle="collapse" data-target="#add-tag-<%= list.id %>" class="dropdown-item" href="#"><%= t ".add" %></a>
        <a class="dropdown-item" href="#" data-target="#list-position-<%= list.id %>" data-toggle="modal"><%= t ".moving" %></a>
        <a class="dropdown-item" href="#"><%= t ".order" %></a>
        <a class="dropdown-item" href="#"><%= t ".closed" %></a>
      </div>
    </div>
  </div>

  <div class="tags">
    <%= render partial: "tags/tag", collection:(list.tags) %>
  </div>

  <div class="add">
    <div class="add-btn" data-toggle="collapse" data-target="#add-tag-<%= list.id %>">+ <%= t ".addtag" %></div>
    <div class="collapse" id="add-tag-<%= list.id %>">
      <input class="form-control" type="text">
      <button class="btn btn-success"><%= t ".add" %></button>
    </div>
  </div>
</div>
