<% content_for :css do %>
  <%= stylesheet_link_tag "static_pages/home", "data-turbolinks-track": "reload" %>
<% end %>

<% provide :title, t(".title") %>

<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <%= render "layouts/sidebar" %>
      </div>
      <div class="col-lg-9">
        <% if @favorite_boards.present? %>
          <div class="board-list">
            <div class="header">
              <p><%= t ".favoriteboards" %><span>(<%= @favorite_boards.size %>)</span></p>
            </div>
            <div class="list">
              <%= render partial: "shared/board",
                collection: @favorite_boards,
                as: :board %>
              <%= link_to icon("fas", "plus-circle"),
                new_board_path(type: Settings.data.confirm),
                class: "list-item new-item" %>
            </div>
          </div>
        <% else %>
          <%= link_to icon("fas", "plus-circle"),
            new_board_path(type: Settings.data.confirm),
            class: "list-item new-item" %>
        <% end %>
        <% if @my_boards.present? %>
          <div class="board-list">
            <div class="header">
              <p><%= t ".myboards" %><span>(<%= @my_boards.size %>)</span></p>
            </div>
            <div class="list">
              <%= render partial: "shared/board",
                collection: @my_boards,
                as: :board %>
              <%= link_to icon("fas", "plus-circle"),
                new_board_path(type: Settings.data.notconfirm),
                class: "list-item new-item" %>
            </div>
          </div>
        <% else %>
          <%= link_to icon("fas", "plus-circle"),
            new_board_path(type: Settings.data.notconfirm),
            class: "list-item new-item" %>
        <% end %>
      </div>
    </div>
  </div>
</main>
