<% content_for :css do %>
  <%= stylesheet_link_tag "static_pages/home", "data-turbolinks-track": "reload" %>
<% end %>

<% provide :title, t(".title") %>

<main class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <%= render "layouts/sidebar" %>
      </div>
      <div class="col-lg-9">
        <div class="board-list">
          <div class="header">
            <p><%= t ".starred_boards" %><span> (<%= @starred_boards.size %>)</span></p>
          </div>
          <div class="list">
            <%= render partial: "boards/board", collection: @starred_boards, as: :board if @starred_boards.present? %>
          </div>
        </div>

        <div class="board-list">
          <div class="header">
            <p><%= t ".my_boards" %><span> (<%= @my_boards.size %>)</span></p>
          </div>
          <div class="list">
            <%= render partial: "boards/board", collection: @my_boards, as: :board if @my_boards.present? %>
            <%= link_to icon("fas", "plus-circle"), new_board_path, class: "list-item new-item" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
