<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= t ".title" %></title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_link_tag "sessions", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "toastr", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <%= render "shared/toastr" %>

    <div class="background">
      <div class="logo"><%= t ".logo" %></div>

      <div class="form-wrapper">
        <div class="form-group">
          <div class="signup"><%= t ".sign_up" %></div>
          <%= render "form" %>
          <%= link_to t(".login"), login_path, class: "register" %>
        </div>
      </div>

      <div class="language">
        <select class="form-control">
          <option value=""><%= t ".english" %></option>
          <option value=""><%= t ".vietnamese" %></option>
        </select>
      </div>
    </div>

    <%= render "layouts/footer" %>
  </body>
</html>
