<% content_for :css do %>
  <%= stylesheet_link_tag "search/index", "data-turbolinks-track": "reload" %>
<% end %>

<% provide :title, t(".title") %>

<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <%= render "layouts/sidebar" %>
      </div>
      <div class="col-lg-9">
        <div class="board-list">
          <div class="header">
            <p>
              <%= @boards.size %>
              <%= t ".searchresult" %>
              <span class="result">
                "<%= params[:search] %>"
              </span>
            </p>
          </div>
          <div class="list">
            <%= render partial: "shared/board",
              collection: @boards,
              as: :board %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
