<div id="card-label-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t ".change_label" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t ".addlabel" %>
          </button>
          <div class="dropdown-menu label-select-wrapper" aria-labelledby="dropdownMenuButton">
            <div class="label-select">
              <%= form_with url: board_card_labels_path(@board), remote: true do |f| %>
                <%= hidden_field_tag :board_id, @board.id %>
                <%= hidden_field_tag :card_id, card.id %>
                <div id="labels_checkbox-<%= card.id %>">
                  <%= render partial: "cards/label_checkbox", collection: @board.labels.exclude_ids(card.labels), as: :label %>
                </div>
                <%= f.submit t(".add"), class: "btn btn-success mt-3" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-<%= card.id %>"><%= t ".close" %></button>
      </div>
    </div>
  </div>
</div>
