<div id="deadline-checkbox" class="custom-control custom-checkbox checkbox-xl">
  <%= check_box_tag :completed, nil, card.completed?, class: "custom-control-input", "data-url": board_card_deadline_path(@board, @card) %>
  <%= label_tag :completed, l(card.deadline, format: :long), class: "custom-control-label font-weight-bold" %>
  <span id="deadline-status" class="<%= deadline_status card %>">(<%= deadline_status card %>)</span>
  <%= link_to icon("fas", "times"), board_card_deadline_path(@board, @card), method: :delete,
    remote: true, class: "ml-2 float-right", title: t(".remove_deadline") %>
</div>
