<div class="list">
  <div class="content">
    <span class="name"><%= list.name %> - </span>
    <span class="board-name"><%= list.board.name %></span>
    <div class="info">
      <small><%= list.created_at.strftime Settings.date.form %></small>
    </div>
  </div>
  <div class="modify">
    <%= link_to t(".restore"), list_path(list.id, list_id: list.id, list: {closed: false}, board_id: list.board.id),
      class: "btn btn-success",
      method: :patch,
      data: {confirm: t(".confirm")} %>
    <%= link_to t(".delete"), list_path(list.id),
      class: "btn btn-danger ml-2",
      method: :delete,
      data: {confirm: t(".confirm")},
      remote: true %>
  </div>
</div>
