<%= form_for resource, url: registration_path(resource), html: {method: :patch}, remote: true do |f| %>
  <div class = row>
    <div class="col-lg-6">
      <div class="section-header">
        <%= t ".info" %>
      </div>
      <%= f.label :name, t(".name") %>
      <%= f.text_field :name, class: "form-control" %>
      <%= display_error f.object, :name, t(".name") %>
      <%= f.label :password, t(".password"), class: "mt-3" %>
      <%= f.password_field :password, class: "form-control", placeholder: t(".enter_new_password") %>
      <%= display_error f.object, :password, t(".password") %>
      <%= f.label :confirm_password, t(".confirm_password"), class: "mt-3" %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: t(".confirm_new_password") %>
      <%= display_error f.object, :password_confirmation, t(".password_confirmation") %>
      <%= f.submit t(".save_change"), class: "btn btn-success form-control mt-3" %>
    </div>
    <div class="col-lg-6 avatar-upload form-inline">
      <%= image_tag "avatar.jpg", alt: t(".avatar"), class: "rounded rounded-circle", id: "avatar-preview" %>
      <div>
        <%= f.file_field :avatar, accept: Settings.user.avatar.file_types %>
        <%= display_error f.object, :avatar, "" %>
      </div>
    </div>
  </div>
<% end %>
