<nav>
  <div class="user-info">
    <div class="user-avatar">
      <%= image_tag @user.avatar.url, alt: t(".avatar"), class: "rounded rounded-circle avatar" %>
      <div>
        <div class="user-name">
          <%= @user.name %>
        </div>
        <div class="user-email">
          <%= @user.email %>
        </div>
      </div>
    </div>
    <div class="user-menu">
      <% if current_user? @user %>
        <%= link_to t(".profile"), @user, class: "item" %>
      <% end %>
      <%= link_to t(".activities"), user_activities_path(@user), class: "item" %>
      <%= link_to t(".closed"), user_closed_index_path(@user), class: "item" %>
      <% if current_user? @user %>
        <%= link_to t(".settings"), "#", class: "item" %>
      <% end %>
    </div>
  </div>
</nav>
