<nav>
  <div class="user-info">
    <div class="avatar">
      <%= image_tag "avatar.jpg", alt: "avatar", class: "rounded rounded-circle" %>
      <div>
        <div class="name">
          <%= @user.name %>
        </div>
        <div class="email">
          <%= @user.email %>
        </div>
      </div>
    </div>
    <div class="user-menu">
      <% if current_user? @user %>
        <%= link_to t(".profile"), @user, class: "item" %>
      <% end %>
      <%= link_to t(".activities"), "#", class: "item" %>
      <%= link_to t(".tags"), "#", class: "item" %>
      <% if current_user? @user %>
        <%= link_to t(".settings"), "#", class: "item" %>
      <% end %>
    </div>
  </div>
</nav>
