<div class="list-item dropdown">
  <div class="label dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= label.content %>
  </div>
  <div class="dropdown-menu" aria-labelledby="dropdownSearch">
    <%= form_for label, url: label_path, method: :patch do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= hidden_field_tag :label_id, label.id %>
      <%= hidden_field_tag :board_id, @board.id %>
      <%= f.text_field :content, class: "form-control", value: label.content %>
      <%= f.submit t(".change"), class: "d-block btn btn-success mt-3" %>
    <% end %>
    <%= link_to t(".delete"),
      label_path(board_id: @board.id, label_id: label.id),
      method: :delete,
      data: {confirm: t(".confirm")},
      class: "btn btn-danger mt-2" %>
  </div>
</div>
