<div id="tag-member-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= tag.name %> - <%= t ".change_member" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t ".adduser" %>
          </button>
          <div class="dropdown-menu label-select-wrapper" aria-labelledby="dropdownMenuButton">
            <div class="label-select">
              <%= form_with url: board_tag_users_path(@board), remote: true do |f| %>
                <%= hidden_field_tag :board_id, @board.id %>
                <%= hidden_field_tag :tag_id, tag.id %>
                <div id="users-checkbox-<%= tag.id %>">
                  <%= render partial: "tags/user_checkbox", collection: @board.add_users.exclude_ids(tag.users), as: :member %>
                </div>
                <%= f.submit t(".add"), class: "btn btn-success mt-3" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t ".close" %></button>
      </div>
    </div>
  </div>
</div>
