<div class="tag-info">
  <div class="tag-name">
    <h1 class="tag-<%= tag.id %>-name"><%= tag.name %></h1>
    <div id="deadline-info" class="info">
      <%= render "deadlines/deadline", tag: tag if tag.deadline %>
    </div>
  </div>
  <div class="member">
    <%= render partial: "tags/member", collection: tag.users, as: :member, locals: {tag_id: tag.id} if tag.users.present? %>
  </div>
  <div class="tag-description">
    <p id="tag-description"><%= tag.description %></p>
  </div>
</div>
