<div class="board">
  <div class="content">
    <span class="name"><%= board.name %></span>
    <div class="info">
      <small><%= board.created_at.strftime Settings.date.form %></small>
    </div>
    <div class="description"><%= board.description %></div>
  </div>
  <% if can? :update, board %>
    <div class="modify">
      <%= link_to t(".restore"), board_path(board.id, board: {closed: false}, board_id: board.id),
        class: "btn btn-success",
        method: :patch,
        data: {confirm: t(".confirm")},
        remote: true %>
      <%= link_to t(".delete"), board_path(board.id),
        class: "btn btn-danger ml-2",
        method: :delete,
        data: {confirm: t(".confirm")},
        remote: true %>
    </div>
  <% end %>
</div>
