<article id="board-menu" class="open">
  <div class="header">
    <p><%= t ".menu" %></p>
    <p id="close-menu"><%= t ".close" %></p>
  </div>

  <div class="dropdown-divider"></div>

  <div class="content">
    <div class="item description-wrapper">
      <div class="description" data-toggle="collapse" data-target="#board-description"><%= t ".description" %></div>
      <%= form_with model: @board, html: {class: "collapse", id: "board-description"}, method: :patch, url: board_path, remote: true do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <%= hidden_field_tag :board_id, @board.id %>
        <%= f.text_area :description,
          value: "#{@board.description}",
          class: "form-control",
          id: "board-description-value" %>
        <% if can? :update, @board %>
          <%= f.submit t(".description_btn"), class: "btn btn-success mt-3" %>
        <% end %>
      <% end %>
    </div>

    <div class="item label-wrapper">
      <div class="label" data-toggle="collapse" data-target="#board-label"><%= t ".label" %></div>
      <div class="collapse" id="board-label">
        <%= render @data[:labels] %>
      </div>
      <%= render "labels/add", label: @label %>
    </div>

    <div class="dropdown-divider"></div>

    <div class="activities">
      <div class="activities-log">
        <%= render partial: "boards/activity", collection: @data[:activities], as: :activity %>
      </div>
    </div>

    <div class="dropdown-divider"></div>

    <div class="close-board">
      <%= link_to t(".closed"), board_closed_path(board_id: @board.id, closed: Settings.data.confirm), class: "btn btn-danger", method: :patch %>
    </div>
  </div>
</article>
