<article id="board-menu" class="open">
  <div class="header">
    <p><%= t ".menu" %></p>
    <p id="close-menu"><%= t ".close" %></p>
  </div>
  <div class="dropdown-divider"></div>
  <div class="content">
    <div class="item description-wrapper">
      <div class="description" data-toggle="collapse" data-target="#board-description"><%= t ".description" %></div>
      <%= form_with model: @board, html: {class: "collapse", id: "board-description"}, method: :patch, url: board_path, remote: true do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <%= hidden_field_tag :board_id, @board.id %>
        <%= f.text_area :description,
          value: "#{@board.description}",
          class: "form-control",
          id: "board-description-value" %>
        <%= f.submit t(".description_btn"), class: "btn btn-success mt-3" %>
      <% end %>
    </div>
    <div class="item label-wrapper">
      <div class="label" data-toggle="collapse" data-target="#board-label"><%= t ".label" %></div>
      <div class="collapse" id="board-label">
        <%= render @data[:labels] %>
      </div>
      <%= render "labels/add", label: @label %>
    </div>
    <div class="item search-wrapper">
      <div class="dropdown">
        <button class="dropdown-toggle add-btn"
          type="button"
          id="dropdownSearch"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          <%= t ".searchlabel" %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownSearch">
          <div>
            <input type="text">
            <button class="btn btn-success"><%= t ".search" %></button>
          </div>
        </div>
      </div>
    </div>
    <%= link_to t(".closed"), board_closed_path(board_id: @board.id, closed: Settings.data.confirm), class: "btn btn-danger", method: :patch %>
  </div>
</article>
