<article id="board-menu" class="open">
  <div class="header">
    <p><%= t ".menu" %></p>
    <p id="close-menu">X</p>
  </div>
  <div class="dropdown-divider"></div>
  <div class="content">
    <div class="item description-wrapper">
      <div class="description" data-toggle="collapse" data-target="#board-description"><%= t ".description" %></div>
      <div class="collapse" id="board-description"><%= @board.description %></div>
    </div>
    <div class="item label-wrapper">
      <% if @labels.present? %>
        <div class="label" data-toggle="collapse" data-target="#board-label"><%= t ".label" %></div>
      <% end %>
      <div class="collapse" id="board-label">
        <%= render partial: "shared/label", collection: @labels, as: :label %>
      </div>
      <div class="add">
        <div class="dropdown">
          <button class="dropdown-toggle add-btn" type="button" id="dropdownLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t ".addlabel" %>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownLabel">
            <%= form_for :label, url: labels_path do |f| %>
              <%= hidden_field_tag :board_id, @board.id %>
              <%= f.text_field :content, class: "form-control" %>
              <%= f.submit t(".add"), class: "d-block btn btn-success mt-3" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="item search-wrapper">
      <div class="dropdown">
        <button class="dropdown-toggle add-btn" type="button" id="dropdownSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= t ".searchlabel" %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownSearch">
          <div>
            <input type="text">
            <button class="btn btn-success"><%= t ".search" %></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
