<% content_for :css do %>
  <%= stylesheet_link_tag "boards/show", "data-turbolinks-track": "reload" %>
<% end %>

<% content_for :js do %>
  <%= javascript_pack_tag "board_show", "data-turbolinks-track": "reload" %>
<% end %>

<%= render "boards/menu" %>

<main>
  <div class="board-info">
    <div class="item">
      <div id="edit"><%= t ".edit" %></div>
      <div class="item-btn input" id="board-name">
        <%= @board.name %>
      </div>
      <div id="board-name-form">
        <%= form_with model: @board, method: :patch, url: board_path do |f| %>
          <%= render "shared/error_messages", object: f.object %>
          <%= hidden_field_tag :board_id, @board.id %>
          <%= f.text_field :name, class: "form-control", value: "#{@board.name}" %>
          <%= f.submit t(".submit"), class: "btn btn-primary mt-3" %>
        <% end %>
      </div>
      <div class="dropdown">
        <button class="item-btn dropdown-toggle" type="button" id="board-status-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if @board.status %>
            <%= t ".public" %>
          <% else %>
            <%= t ".private" %>
          <% end %>
        </button>
        <div class="dropdown-menu" aria-labelledby="board-status-btn">
          <%= link_to t(".public"),
            status_url(board_status: Settings.data.confirm, board_id: @board.id),
            class: "dropdown-item",
            method: :patch %>
          <%= link_to t(".private"),
            status_url(board_status: Settings.data.nonconfirm, board_id: @board.id),
            class: "dropdown-item",
            method: :patch %>
        </div>
      </div>
      <%# TO DO %>
      <%# <div class="dropdown">
        <button class="item-btn dropdown-toggle" type="button" id="board-member-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          member
        </button>
        <div class="dropdown-menu" aria-labelledby="board-member-btn">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div> %>
    </div>
    <div class="item">
      <div id="open-menu" class="menu item-btn"><%= t ".menu" %></div>
    </div>
  </div>
  <div class="board-wrapper">
    <%= render partial: "lists/list", collection: @lists, as: :list %>
    <div class="board-taglist list-add">
      <div class="add-btn" data-toggle="collapse" data-target="#add-list"><%= t ".addlist" %></div>
      <div class="collapse" id="add-list">
        <%= form_for @list do |f| %>
          <%= render "shared/error_messages", object: f.object %>
          <%= hidden_field_tag :board_id, @board.id %>
          <%= f.text_field :name, class: "form-control" %>
          <%= f.submit t(".addlist"), class: "btn btn-success mt-2" %>
        <% end %>
      </div>
    </div>
  </div>
</main>
