<div class="dropdown">
  <div class="dropdown member" id="dropdownLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= image_tag member.avatar.url, alt: t(".avatar"), class: "rounded rounded-circle member-avatar", title: "#{member.name} (#{member.email})" %>
  </div>
  <div class="dropdown-menu" aria-labelledby="dropdownLabel">
    <div class="member-options">
      <div class="mini-profile">
        <%= image_tag member.avatar.url, alt: t(".avatar"), class: "rounded rounded-circle mini-avatar" %>
        <div class="member-info">
          <%= link_to member.name, member, class: "member-name" %>
          <span class="member-email"><%= member.email %></span>
        </div>
      </div>
      <%= link_to t(".remove"), board_card_users_path(@board, user_id: member.id, card_id: card_id), method: :delete, class: "remove-member float-right", remote: true %>
    </div>
  </div>
</div>
