<header class="sticky-top">
  <div class="row">
    <div class="col-lg-4 d-flex justify-content-start header-left">
      <%= link_to icon("fas", "home"), root_path, class: "header-item-btn" %>
      <div id="header-table" class="dropdown header-item">
        <button id="table-dropdown" class="btn dropdown-toggle header-item-btn" data-toggle="dropdown">
          <%= t ".boards" %>
        </button>
        <div aria-labelledby="table-dropdown" class="dropdown-menu collapse-dropdown">
          <div class="table">
            <div class="table-list">
              <div class="list-header">
                <%= t ".favoriteboards" %>
              </div>
              <div class="list">
                <%= render partial: "shared/header_board", collection: @favorite_boards, as: :board %>
              </div>
            </div>
            <div class="table-list">
              <div class="list-header">
                <%= t ".myboards" %>
              </div>
              <div class="list">
                <%= render partial: "shared/header_board", collection: @my_boards, as: :board %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= search_form_for @search, {url: search_index_path, method: :get, class: "search-form"} do |f| %>
        <%= f.search_field :board_info_cont, placeholder: t(".search_placeholder") %>
        <%= button_tag icon("fas", "search") %>
      <% end %>
    </div>

    <div class="col-lg-4 d-flex justify-content-center header-logo">
      <%= icon "fas", "globe-asia" %>
    </div>

    <div class="col-lg-4 d-flex justify-content-end header-right">
      <div class="d-inline dropdown header-item">
        <button id="add-table-dropdown" class="btn dropdown-toggle header-item-btn" data-toggle="dropdown">
          <%= icon "fas", "plus-circle" %>
        </button>
        <div aria-labelledby="add-table-dropdown" class="dropdown-menu-right dropdown-menu">
          <div class="dropdown-header">
            <%= t ".new" %>
          </div>
          <div class="dropdown-content">
            <%= link_to t(".newboard"), new_board_path %>
          </div>
        </div>
      </div>
      <div class="current-user header-item dropleft">
        <%= image_tag current_user.avatar.url, alt: t(".avatar"), id: "user-dropdown", class: "rounded rounded-circle dropdown avatar", "data-toggle": :dropdown %>
        <div aria-labelledby="user-dropdown" class="dropdown-menu">
          <div class="user-info dropdown-header">
            <span class="user-name"><%= current_user.name %></span>
            <span class="user-email">
              <%= icon "fas", "envelope" %>
              <%= current_user.email %>
            </span>
          </div>
          <ul class="list-type-none p-0">
            <li><%= link_to t(".profile"), current_user %></li>
            <li><%= link_to t(".activities"), user_activities_path(current_user) %></li>
            <li><%= link_to t(".closed"), user_closed_index_path(current_user) %></li>
            <li><%= link_to t(".settings"), "#" %></li>
            <li><%= link_to t(".logout"), destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
