<header class="sticky-top">
  <div class="row">
    <div class="col-lg-4 d-flex justify-content-start header-left">
      <%= link_to icon("fas", "home"), root_path, class: "header-item-btn" %>
      <div id="header-table" class="dropdown header-item">
        <button id="table-dropdown" class="btn dropdown-toggle header-item-btn" data-toggle="dropdown">
          <%= t ".boards" %>
        </button>
        <div aria-labelledby="table-dropdown" class="dropdown-menu collapse-dropdown">
          <div class="table">
            <div class="table-list">
              <div class="list-header">
                <%= t ".favoriteboards" %>
              </div>
              <div class="list">
                <%= render partial: "shared/header_board",
                  collection: @favorite_boards,
                  as: :board %>
              </div>
            </div>
            <div class="table-list">
              <div class="list-header">
                <%= t ".myboards" %>
              </div>
              <div class="list">
                <%= render partial: "shared/header_board",
                  collection: @my_boards,
                  as: :board %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input type="text">
    </div>
    <div class="col-lg-4 d-flex justify-content-center header-logo">
      <%= icon "fas", "globe-asia" %>
    </div>
    <div class="col-lg-4 d-flex justify-content-end header-right">
      <div class="d-inline dropdown header-item">
        <button id="add-table-dropdown" class="btn dropdown-toggle header-item-btn" data-toggle="dropdown">
          <%= icon "fas", "plus-circle" %>
        </button>
        <div aria-labelledby="add-table-dropdown" class="dropdown-menu-right dropdown-menu">
          <div class="dropdown-header">
            <%= t ".new" %>
          </div>
          <div class="dropdown-content">
            <%= link_to t(".newboard"), new_board_path %>
          </div>
        </div>
      </div>
      <div id="user" class="d-inline dropleft header-item">
        <button id="user-dropdown" class="btn dropdown-toggle header-item-btn" data-toggle="dropdown">
          <%= current_user.name %>
        </button>
        <div aria-labelledby="user-dropdown" class="dropdown-menu">
          <div class="dropdown-header">
            <%= t ".account" %>
          </div>
          <div class="dropdown-content">
            <div>
              <div class="user-info">
                <div class="user-name">
                  <p><span><%= icon "fas", "envelope" %></span><%= current_user.email %></p>
                </div>
              </div>
              <%= link_to t(".add_account"), "#" %>
              <ul class="list-type-none p-0">
                <li><%= link_to t(".profile"), current_user %></li>
                <li><%= link_to t(".activities"), "#" %></li>
                <li><%= link_to t(".tags"), "#" %></li>
                <li><%= link_to t(".settings"), "#" %></li>
                <li><%= link_to t(".logout"), "#" %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
